body {
    background: #d9d9d9;
}

.table-title {
    padding-bottom: 15px;
    background: #212121;
    color: #fff;
    padding: 16px 30px;
    border-radius: 3px 3px 0 0;
}

.formulario{
    background-color: #f7f7f7;
}